VITE_FIREBASE_API_KEY=AIzaSyBGiKbT_UYafcHFK9cI9y86TH0-1XOw9xs
VITE_FIREBASE_AUTH_DOMAIN=rebel-princess-20260715.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rebel-princess-20260715
VITE_FIREBASE_STORAGE_BUCKET=rebel-princess-20260715.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=132710420269
VITE_FIREBASE_APP_ID=1:132710420269:web:55de4922e153d4e6b60da4
